---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
import Welcome from '../components/Welcome.astro';
import Contenido from '../components/Contenido.astro';
import Formulario from '../components/Formulario.astro';
import "../styles/global.css";
---

<Layout>
  <Topbar />

  <section id="inicio" class="pt-20 min-h-screen flex justify-center items-center bg-white">
    <Welcome />
  </section>

  <main class="w-full flex flex-col lg:flex-row justify-center items-start gap-10 px-[5%] py-16 bg-blue-50">
    <div class="w-full lg:w-1/2">
      <Contenido />
    </div>

    <div
      id="formulario"
      class="w-full lg:w-1/2 bg-[url('/src/img/bg-One.webp')] bg-cover bg-center rounded-3xl shadow-xl p-6 flex items-center justify-center"
    >
      <Formulario />
    </div>
  </main>
</Layout>
