---

---

<div class="w-2/3 h-screen flex flex-col items-start justify-center space-y-8">
    <img src="/src/img/logoBlack.webp" alt="Logo" class="h-40 w-auto">
  <h1 class="montserrat text-6xl text-blue-700 font-bold ">Solo preocupate por la experiencia, nosotros te llevamos a ella</h1>
  <p class="monserrat text-2xl text-blue-950 font-light">Reserva hoy tu coche con nosotros y descubre la libertad de vivir las mejores vacaciones de tu vida, sin preocupaciones y con la comodidad que mereces.</p>
</div>
