---
---
<div>
    <nav>
        <ul class="flex items-center justify-between p-4 bg-white shadow-md">
            <li>
                <a href="/" class=""><img src="/src/img/logoBlack.webp" alt="Logo" class="h-16 w-auto" ></a>
            </li>
            <li class="flex space-x-4">
                <button class="px-4 py-2 bg-blue-700 text-white rounded-2xl hover:bg-blue-800 transition-colors">
                    Contáctanos
                </button>
            </li>
        </ul>
    </nav>

</div>